body {
  margin: 0;
  font: 100% Myriad Pro, Helvetica, sans-serif; }

.page {
  position: relative;
  padding: 1em;
  overflow: hidden;
  background-color: #f0f0f0;
  background-image: url("lightpaperfibers.png"); }
  .page::before {
    content: "";
    position: absolute;
    height: 500px;
    width: 200%;
    top: -100px;
    left: -70%;
    z-index: 5;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
    border-radius: 100%; }

main {
  position: relative;
  z-index: 10;
  margin-bottom: 140px; }

h1 {
  margin: 0.67em 0;
  width: 100%;
  font-size: 3em;
  font-weight: lighter;
  text-align: center; }

figure {
  text-align: center; }

h2 {
  font-weight: normal;
  font-size: 1.5em;
  text-align: center; }

section h3 {
  margin: .75em 0 .25em 0.5em;
  text-indent: -0.5em;
  font-size: 1.5em;
  font-weight: normal; }
  section h3::before {
    content: "*";
    margin-right: 0.1em;
    color: #312783;
    font-weight: 900; }

section h4 {
  margin: 0;
  font-weight: normal;
  font-size: 1em; }
  section h4 p {
    font-weight: normal; }

section .content {
  margin: 0 0 0 1.5em;
  padding: 0; }

section ol {
  margin: 0;
  list-style: none; }
  section ol li {
    margin: 0 0 0.5em; }

section a {
  color: #312783;
  text-decoration: none;
  font-weight: bold; }

section p {
  margin: 0  0 0.1em 1.5em;
  text-indent: -1em;
  font-weight: lighter; }

section#identity p {
  margin: 0;
  text-indent: 0; }
  section#identity p.strong, section#identity p .strong {
    font-weight: normal; }
  section#identity p a {
    font-weight: normal; }

section dd {
  margin: 0 0 0.3em 0.5em;
  padding: 0;
  font-weight: lighter; }

footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 250px;
  height: 250px;
  background: url("curl.png"); }
  footer a {
    display: block;
    position: absolute;
    top: 162px;
    left: 82px;
    z-index: 35;
    transform: rotate(-45deg);
    color: #312783;
    font-weight: bold;
    text-decoration: none; }

@media screen and (min-width: 40rem), print {
  main {
    margin-bottom: 0px; }
  header {
    margin-right: 240px; }
  h1 {
    margin: 0;
    padding: 0.5em 0 0;
    width: 100%;
    font-size: 5em;
    font-weight: lighter;
    text-align: right;
    line-height: 1em; }
  h2 {
    text-align: right; }
  figure {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0; } }

@media screen and (min-width: 48rem), print {
  main {
    margin-bottom: 0px; }
  .page {
    padding: 2em; }
  section.col {
    float: left;
    width: 31%;
    margin-right: 2.333%; }
  section#others {
    clear: both; } }

@media screen and (min-width: 60rem) {
  body {
    background-color: #9d9d9d; }
  .page {
    padding: 3em;
    margin: 5em auto 5em;
    width: 800px; } }

@media print {
  h1 {
    font-size: 45pt; }
  .page::before {
    display: none; }
  footer {
    display: none; } }
